# Backend API
VITE_API_BASE_URL=SERVER_URL

# Client only
VITE_STEAM_RUN_APP=steam://run/{app_id}
VITE_STORAGE_TOKEN_KEY=your_storage_token_key

# Settings Bounds
VITE_BACKLOG_MIN=0
VITE_BACKLOG_SLIDER_MAX=120
VITE_BACKLOG_DEFAULT=60
VITE_RECENT_MIN=30
VITE_RECENT_SLIDER_MAX=150
VITE_RECENT_DEFAULT=120
VITE_SKIP_CD_MIN=1
VITE_SKIP_CD_SLIDER_MAX=7
VITE_SKIP_CD_DEFAULT=3